.nav {
	border-top: 1px solid #a0a6b1;
	margin-top: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ul {
	list-style: none;
	display: flex;
	align-items: center;

}

.ul li {
	padding-left: 20px;
	color: #a0a6b1;
text-transform: capitalize;

}

.ul li span {
	padding-left: 10px;

}

.bar {
	display: block;
	height: 20px;
	width: 1px;
	background-color: #a0a6b1;
	margin-left: 20px;

}